{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row justify content center m-5">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">{{ band.bandName }}</div>
                    <div class="card-body">
                        Members: {{ band.members }}
                        <a href="{% url 'updateBand' band.id %}"><button class="btn btn-primary">Update</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}