{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row justify content center">
            <div class="col-10">
                {% for venue in venues %}
                    <div class="card">
                        <div class="card-header">
                            {{ venue.venueName }}
                        </div>
                        <div class="card-body">
                            {{ venue.address }}
                            {{ venue.venueEmail }}
                            <a href="{{ venue.website }}">{{ venue.website }}</a>
                            {% comment %}<a href="{% url 'VenueProfile' band.id %}"><button class="btn btn-primary">Profile page</button></a>{% endcomment %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}