{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row justify content center">
            <div class="col-10">
                {% for venue in venues %}
                    <div class="card">
                        <div class="card-header">
                            {{ venue.venueName }}
                        </div>
                        <div class="card-body">
                            {{ venue.address }} <br>
                            {{ venue.venueEmail }} <br>
                            <a href="{{ venue.website }}">{{ venue.website }}</a> <br>
                            <a href="{% url 'venue-profile' venue.id %}"><button class="btn btn-primary">Profile page</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}