{% extends 'base.html' %}
{%  block body %}
    <div id="Our Mission" class="container rounded border border-4">
        <!---Just an opening paragraph about our mission with this website-->
        <div class="row">
            <h1 class="">STAY LOCAL + LIVE</h1>
            <p>
                Connect with each other to entertain people with the best local live music around. Whether you are a local band rocking out and
                trying to spread the word, or a new venue that needs something to keep the night moving, this tool (PENDING NAME) will give you all the
                necessary tools you need in order to accomplish your goals and entertain those with the best live and local music around.
            </p>
        </div>
    </div>
    <div id="Band Functions" class="container rounded border border-4 border-warning">
        <!---Function of this div: color blue, opening section with description, three title cards then button, color Orange-->
        <div class="row">
            <p>Need a boost to make your band known around town? Look no further!</p>
            <div class="col">
                <div class="card">
                    <img src="undraw_News_re_6uub.png" class="card-img-top" alt="...">
                    <p>Function 1: search for gigs that can get your name around town </p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="undraw_News_re_6uub.png" class="card-img-top" alt="...">
                    <p>Function 2: Customize your profile to display what you guys can do</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="undraw_News_re_6uub.png" class="card-img-top" alt="...">
                    <p>Function 3: Organize events with venues with ease.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="Venue Functions" class="container rounded border border-4 border-primary">
        <!---Function of this div: color blue, opening section with description, three title cards then button, color blue-->
        <div class="row">
            <p>Need to make a quiet Thursday night more lively in your venue? Look no further!</p>
            <div class="col">
                <div class="card">
                    <p>Function 1: search for bands that can get your name around town </p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <p>Function 2: Customize your profile to display information like what genre you look for, where your bands play and general atttendance</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <p>Function 3: Organize and advertise public events with venues with ease.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="container border-top p-3">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="display-4">Contact</h2>
            </div>
            <div class="col-sm-8">
                <p>
                    <a href="#">Charles Lewis</a><br>
                    Developer #1<br>
                    <i class="bi bi-telephone-fill text-success"></i>(860) 878 9645
                </p>
            </div>
        </div>
    </footer>
{% endblock %}